<h2 class="is-size-3">List of projects</h2>
<section class="section columns is-multiline">
  <ab-card *ngFor="let project of projects"
           [card]="{title: project.name, actions:[{caption:'Edit', link:'#'},{caption:'Delete', link:'#'}]}"
           class="column is-one-quarter-desktop is-half-tablet">
    <main>
      <p class="has-text-centered is-italic">{{ project.description }}</p>
      <section>
        <ab-tag [tag]="{ caption:'Starts', value:( project.startDate | date  ) || '' }"></ab-tag>
        <ab-tag [tag]="{ caption:'Ends', value:( project.endDate | date  ) || '' }"
                *ngIf="project.endDate"></ab-tag>
        <ab-tag [tag]="{ caption:'Budget', value: (project.budget | number) || '' }"></ab-tag>
        <ab-tag [tag]="{ caption:'Status', value: project.status , statusClass : (project.status | status)  }">
        </ab-tag>
        <ab-tag
                [tag]="{ caption:'Pending Tasks', value: (project.pendingTasks | number) || '', statusClass:'is-danger' }">
        </ab-tag>
        <ab-tag
                [tag]="{ caption:'Completed Tasks', value: (project.completedTasks | number) || '', statusClass:'is-success' }">
        </ab-tag>
      </section>
    </main>
  </ab-card>
</section>
