<ab-page pageTitle="Budget dashboard">
  <main>
    <ng-container *ngIf="(loading$ | async) === false; else loading">
      <ng-container *ngIf="(error$ | async) === false; else error">
        <ab-projects [projects]="projects$ | async"></ab-projects>
      </ng-container>
    </ng-container>
    <ng-template #error>
      <ab-error></ab-error>
    </ng-template>
    <ng-template #loading>
      <ab-loading></ab-loading>
    </ng-template>
    <hr>
    <pre>
      <p class="is-italic">To do...</p>
      <li>Tasks summary (total/pending)</li>
      <li>Transactions summary (spending/earnings)</li>
    </pre>
  </main>
</ab-page>
