<ab-page pageTitle="Project Budget dashboard">
  <main>
    <ng-container *ngIf="(loading$ | async) === false; else loading">
      <ng-container *ngIf="(error$ | async) === false; else error">
        <ab-projects [projects]="projects$ | async"
                     (delete)="onDelete($event)"></ab-projects>
      </ng-container>
    </ng-container>
    <ng-template #error>
      <ab-error></ab-error>
    </ng-template>
    <ng-template #loading>
      <ab-loading></ab-loading>
    </ng-template>
  </main>
</ab-page>
