<footer class="footer has-text-centered">
  <p>
    Developed only for training purposes by <span class="is-family-secondary">
      <a href="https://twitter.com/albertobasalo"
         target="_blank">Alberto Basalo</a> at <a href="https://github.com/angularbuilders"
         target="_blank"><strong>Angular.Builders</strong></a>
    </span>.
  </p>
  <small>
    The
    <a href="https://github.com/angularbuilders/angular-budget"
       target="_blank"
       class="is-family-code has-text-weight-bold">👨‍💻 source code</a>
    is <a href="http://opensource.org/licenses/mit-license.php"
       target="_blank">MIT</a> licensed .
    The website content is licensed
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
       target="_blank">CC BY NC SA 4.0</a>.
  </small>
</footer>
