<article class=" card m-4">
  <header class="card-header">
    <h3 class="card-header-title is-size-4">{{ card.title }}</h3>
  </header>
  <main class="card-content">
    <ng-content select="main"></ng-content>
  </main>
  <footer class="card-footer">
    <ng-container *ngFor="let action of card.actions">
      <a *ngIf="action.link"
         [href]="action.link"
         class="card-footer-item">{{ action.caption }}</a>
      <button *ngIf="action.command"
              class="card-footer-item button is-primary"
              (click)="actionClick.next(action)">{{action.caption}}</button>
    </ng-container>
  </footer>
</article>
