<header class="">
  <nav class="navbar is-fixed-top has-shadow pb4 is-family-secondary "
       role="navigation"
       aria-label="main navigation">
    <span class="navbar-brand is-white ml-4">
      <a [routerLink]="['/']"
         class="is-size-2 has-text-primary">Angular Budget</a>
    </span>
    <span class="navbar-menu navbar-end ">
      <a [routerLink]="['/about']"
         class="navbar-item is-size-3 has-text-primary">About</a>
      <a [routerLink]="['/login']"
         class="navbar-item is-size-3 has-text-primary">Login</a>
    </span>
  </nav>
</header>
