<header class="">
  <nav class="navbar is-fixed-top has-shadow pb4 is-family-secondary "
       role="navigation"
       aria-label="main navigation">
    <span class="navbar-brand is-white ml-4">
      <a [routerLink]="['/']"
         class="is-size-2 has-text-primary">Angular Budget</a>
    </span>
    <ab-notification class="navbar-item pt-0 pb-0 ml-4"></ab-notification>
    <span class="navbar-menu">
      <span class="navbar-end ">
        <a [routerLink]="['/about']"
           class="navbar-item is-size-3 has-text-primary">About</a>
        <a [routerLink]="['/login']"
           class="navbar-item is-size-3 has-text-primary">Login</a>
      </span>
    </span>
  </nav>
</header>
