<header>
  <nav>
    <h1>
      <a [routerLink]="['/']"
         class="is-size-2 is-family-secondary">Angular Budget</a>
    </h1>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <p>
    Developed for training purposes only by <a href="https://twitter.com/albertobasalo"
       target="_blank">Alberto Basalo</a> at <a href="https://github.com/angularbuilders"
       target="_blank"><strong>Angular.Builders</strong></a>.
  </p>
  <small>
    The
    <a href="https://github.com/angularbuilders/angular-budget"
       target="_blank">👨‍💻 source code</a>
    is licensed <a href="http://opensource.org/licenses/mit-license.php"
       target="_blank">MIT</a>.
    The website content is licensed
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
       target="_blank">CC BY NC SA 4.0</a>.
  </small>
</footer>
